 /* =========================================================
                    Common CSS Start
=========================================================== */
* {
    margin: 0;
    padding: 0;
    outline: 0;
  }

  ul,
  ol {
    list-style: none;
  }

  a {
    text-decoration: none;
    display: inline-block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  li,
  ol {
    margin: 0;
    padding: 0;
  }

  /* =========================================================
                  Common CSS end
=========================================================== */

  :root {
    --Nav_font: 1.2rem;
    --nav_font_weight: 600 !important;
    --nav_text_hover: #f7f4f4;
    --nav_bg: #fd500be7;
  }

  /* styles.css */
  .navbar-nav .nav-item .nav-link {
    color: #054203;
    background-color: #fff;
    transition: all linear .3s;

  }

  .main_menu {
    .navbar-brand {
      width: 20%;
      height: auto;
    }

    .navbar-nav .nav-item .nav-link.active,
    .navbar-nav .nav-item .nav-link:focus,
    .navbar-nav .nav-item .nav-link:hover {
      color: var(--nav_text_hover);
      background-color: var(--nav_bg);
    }

    ul {
      li {

        padding: 10px 10px;

        a {
          padding: 15px 30px !important;
          border-radius: 15px;
          font-size: var(--Nav_font);
          font-weight: var(--nav_font_weight);
        }
      }
    }
  }

  /* header part end  */
  .banner {
    position: relative;


    &::after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      background: #00000091;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .card {
      z-index: 2;
    }
  }

  /* banner part end  */
  #form {
    padding: 100px 50px;
  }




  /* button all design  */
  .button1 {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;

    .icon1 {
      width: 24px;
      height: 24px;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      transform: scale(1.05);
      border-color: #fff9;
    }

    &:hover .icon1 {
      transform: translate(4px);
    }

    &:hover::before {
      animation: shine 1.5s ease-out infinite;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 100%;
      background-image: linear-gradient(120deg,
          rgba(255, 255, 255, 0) 30%,
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0) 70%);
      top: 0;
      left: -100px;
      opacity: 0.6;
    }

  }

  @keyframes shine {
    0% {
      left: -100px;
    }

    60% {
      left: 100%;
    }

    to {
      left: 100%;
    }
  }

  /* button 2  */
  .btn-31,
  .btn-31 *,
  .btn-31 :after,
  .btn-31 :before,
  .btn-31:after,
  .btn-31:before {
    border: 0 solid;
    box-sizing: border-box;
  }

  .btn-31 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
  }

  .btn-31:disabled {
    cursor: default;
  }

  .btn-31:-moz-focusring {
    outline: auto;
  }

  .btn-31 svg {
    display: block;
    vertical-align: middle;
  }

  .btn-31 [hidden] {
    display: none;
  }

  .btn-31 {
    border-width: 1px;
    padding: 1rem 2rem;
    position: relative;
    text-transform: uppercase;
  }

  .btn-31:before {
    --progress: 100%;
    background: #fff;
    -webkit-clip-path: polygon(100% 0,
        var(--progress) var(--progress),
        0 100%,
        100% 100%);
    clip-path: polygon(100% 0,
        var(--progress) var(--progress),
        0 100%,
        100% 100%);
    content: "";
    inset: 0;
    position: absolute;
    transition: -webkit-clip-path 0.2s ease;
    transition: clip-path 0.2s ease;
    transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
  }

  .btn-31:hover:before {
    --progress: 0%;
  }

  .btn-31 .text-container {
    display: block;
    overflow: hidden;
    position: relative;
  }

  .btn-31 .text {
    display: block;
    font-weight: 900;
    mix-blend-mode: difference;
    position: relative;
  }

  .btn-31:hover .text {
    -webkit-animation: move-up-alternate 0.3s ease forwards;
    animation: move-up-alternate 0.3s ease forwards;
  }

  @-webkit-keyframes move-up-alternate {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(80%);
    }

    51% {
      transform: translateY(-80%);
    }

    to {
      transform: translateY(0);
    }
  }

  @keyframes move-up-alternate {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(80%);
    }

    51% {
      transform: translateY(-80%);
    }

    to {
      transform: translateY(0);
    }
  }

  /* button 3  */
  .button3 {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #2c9caf;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
  }

  .button3:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #268391;
  }

  .button3::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }

  .button3:hover::before {
    width: 250%;
  }

  /* button 4  */
  .button4 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #000000, -6px -6px 12px #1d1d1d;
  }

  .button4:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }

  .button4:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }

  .button4:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }

  .button4:hover {
    color: #ffffff;
    border: 1px solid #009087;
  }

  .button4:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

  .button4:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

  /* button 5  */
  .button5 {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(255, 0, 0);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
  }

  .button5 span {
    margin: 10px;
  }

  .button5::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }

  .button5:hover {
    color: #fff;
    border: 1px solid rgb(255, 0, 0);
  }

  .button5:hover::before {
    box-shadow: inset 0 0 0 10em rgb(255, 0, 0);
  }

  /* button 6  */
  .buton6 {
position: relative;
font-size: 1.2em;
padding: 0.7em 1.4em;
background-color: #BF0426;
text-decoration: none;
border: none;
border-radius: 0.5em;
color: #DEDEDE;
box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}

.buton6::before {
position: absolute;
content: '';
height: 0;
width: 0;
top: 0;
left: 0;
background: linear-gradient(135deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 50%, rgba(150,4,31,1) 50%, rgba(191,4,38,1) 60%);
border-radius: 0 0 0.5em 0;
box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
transition: 0.3s;
}

.buton6:hover::before {
width: 1.6em;
height: 1.6em;
}

.buton6:active {
box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
transform: translate(0.1em, 0.1em);
}